/*
COLORS
sas-blue: #50A3D7;
sas-dark-blue: #1C3476;
sas-light-blue: #69C9EA;
sas-medium-blue: #4177B5;
error: #EC0014
success: #4DB45E
sas-dark-grey: #272526
 */

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main-background {
    background: #1C3476;
}

.watermark-image {
    width: 90%;
    height: 90%;
    z-index: 1000;
    position: absolute;
    opacity: 0.1;
    top: 5%;
    left: -10%;
}