/*
COLORS
sas-blue: #50A3D7;
sas-dark-blue: #1C3476;
sas-light-blue: #69C9EA;
sas-medium-blue: #4177B5;
error: #EC0014
success: #4DB45E
sas-dark-grey: #272526

ATM blue rgb(12, 52, 151)
ATM red rgb(238,0,105)	
ATM light blue rgb(27, 179,	245)	
ATM medium blue rgb(35,	81,	190)	
 */

body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: 1024px;
    /* min-height: 768px; */
}

.hidden {
    display: none;
    visibility: hidden;
}

.opaque {
    opacity: 0;
}

.main-background {
    background: rgb(12, 52, 151);
}

.watermark-image {
    width: 90%;
    height: 90%;
    z-index: -1000;
    position: absolute;
    opacity: 0.1;
    top: 5%;
    left: -10%;
}

.watermark-image_rotated {
    transform: rotate(45deg)
}

.button {
    text-decoration: none;
    user-select: none;
    background-color: rgba(27, 179, 245, 1);
    color: #f2f2f2;
    padding: 20px 40px;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    /* transition: all ease-in-out 1s; */
}

.button:active {
    opacity: 0.6;
    /* background-color: rgba(27, 179, 245, 0.6); */
}

.button_dark {
    background-color: rgb(35, 81, 190)
}

.button_red {
    background-color: rgb(238, 0, 105)
}

.atm-name {
    position: absolute;
    font-size: 42px;
    line-height: 42px;
    /* font-family: 'Rubik Mono One', sans-serif; */
    font-family: 'Russo One', sans-serif;
    color: #f2f2f2;
    margin: 20px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    z-index: 3000;
}

.back-block {
    position: absolute;
    color: #f2f2f2;
    margin: 20px;
    padding-right: 50px;
    text-decoration: none;
    right: 0;
    height: 42px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 42px;
    font-size: 18px;
}

.back-block:after {
    content: '';
    width: 42px;
    height: 42px;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
}

.back-block_home:after {
    background-image: url("../img/atm_white.svg")
}

.back-block_return-card:after {
    background-image: url("../img/credit-card-return.svg")
}

.center-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cash-input {
    color: rgb(35, 81, 190);
    text-align: center;
    font-size: 72px;
    display: block;
    width: 400px;
    height: 90px;
    border: 2px solid #2351be;
    background: #f2f2f2;
    font-family: 'Open Sans Condensed', sans-serif;
}

.cash-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(27, 179, 245);
    transform: scale(0.7)
}

.cash-input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(35, 81, 190);
    transform: scale(0.7)
}

.cash-input::-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(35, 81, 190);
    transform: scale(0.7)
}

.cash-input::-moz-placeholder {
    /* Firefox 18- */
    color: rgb(35, 81, 190);
    transform: scale(0.7)
}

.content-wrapper {
    user-select: none;
    position: relative;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f2f2f2;
    z-index: 2000;
}

.appearing-headline {
    text-transform: uppercase;
    top: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    font-size: 48px;
    margin: 10px 0;
}