.content {
    margin: 200px 0;
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
}

.content_huge {
    margin: 150px 0;
}

.side-block {
    height: 100%;
    flex: 0.3;
}

.categories-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 0.7;
}

.categories-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}


/* last child didnt work lol */

.categories-row_separated-60 {
    margin-top: 60px;
}

.categories-row_separated-40 {
    margin-top: 40px;
}

.category {
    box-sizing: border-box;
    flex: 0.5;
    text-align: center;
    height: 100px;
    line-height: 60px;
    font-size: 24px;
}

.category:first-child {
    margin-right: 10px;
}

.category-attractive {
    position: relative;
    line-height: 40px;
    height: 80px;
    font-size: 24px;
}

.category-attractive_arrow {
    width: 20px;
    height: 20px;
    border-right: 2px solid #f2f2f2;
    border-top: 2px solid #f2f2f2;
    transform: rotate(45deg);
    position: absolute;
    top: 30px;
    right: 45px;
}

.quick-cash_amount {
    margin: 0 60px;
    font-weight: bold;
}

.info {
    margin: 20px 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.info-title {
    font-size: 18px;
    margin-bottom: 5px;
    color: rgb(27, 179, 245);
}

.info-value {
    font-size: 24px;
    color: #f2f2f2;
    font-weight: bold;
    /* font-family: 'Rubik Mono One', sans-serif; */
}

.cash-input {
    position: relative;
    flex: 1;
}

.cash-controls {
    position: absolute;
    right: 45px;
    z-index: 5000;
    height: 90px;
    width: 91px;
    padding: 6px;
}

.cash-controls>div {
    display: inline-block;
    user-select: none;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    color: rgb(27, 179, 245);
    margin-right: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    /* background-color: rgb(27, 179, 245); */
}


/* .cash-controls>div:first-child {
    margin-bottom: 5px;
} */

.cash-controls>div:active {
    opacity: 0.6;
}