#keypad {
    border-collapse: separate;
    border-spacing: 5px;
    margin-top: 0%;
}

#pin-form {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pin-input {
    color: rgb(35, 81, 190);
    text-align: center;
    font-size: 72px;
    display: block;
    width: 400px;
    height: 90px;
    border: 2px solid rgb(35, 81, 190);
    background: #f2f2f2;
}

.hdr {
    background-color: #5B9BD5;
    height: 8vh;
    border: 3px solid rgb(118, 113, 113);
    color: white;
    font-size: 3em;
    font-weight: 600;
    font-family: BerlinSans;
    line-height: 55px;
}

.pin-button {
    line-height: 110px;
    width: 130px;
    height: 110px;
    text-align: center;
    font-size: 32px;
    padding: 0;
}

.pin-input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(27, 179, 245);
    transform: scale(0.5)
}

.pin-input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(35, 81, 190);
}

.pin-input::-ms-input-placeholder {
    /* IE 10+ */
    color: rgb(35, 81, 190);
    transform: scale(0.5)
}

.pin-input::-moz-placeholder {
    /* Firefox 18- */
    color: rgb(35, 81, 190);
    transform: scale(0.5)
}